@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 12px;
  overflow: hidden;
  font-family: 'Comfortaa', cursive;
  color: white;
}

p{
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  border-radius: 10px;
  padding: 10px;
  background-color: #ea1d6f; 
  width: 500px;
}


.form-group{
  padding: 15px;
}

.form-group input{
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;
  width: 400px;
  outline: none;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}

.text-area {
  height: 150px;
  width: 400px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}


.form-group .submit{
  border: none;
  border-radius:5px;
  height: 40px;
  width: 70px ;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}

